nav {
    text-align: right;
    background-color: rgb(161, 156, 156);
    padding: 10px;
}

.parrafo {
    margin-top: 20px;
    margin-right: 200px;
    margin-left:200px;
}

footer {
    background-color:rgb(161, 156, 156);
    text-align: center;
}

.img-logos{
    width: 150px;
    height: 150px;

}

.img-logos{
    width: 150px;
    height: 150px;
}

.nombreAlumno {
    font-weight: bold;
}